section { 
  display: block;
}


body, footer { margin: 0px;
    padding: 0px;
/*    background-color: #FFFAF0;*/
    word-break: keep-all;
    word-wrap: break-word;
}

/*div, footer, h1, h2, h3, p, img, span{max-height: 100%;text-size-adjust:none;-webkit-text-size-adjust:none;}*/
* {max-height: 100%;text-size-adjust:none;-webkit-text-size-adjust:none;}



.activeLinkColor {
   color: #111111 !important;
   text-shadow:  calc(3em / 58)  calc(3em / 58)  calc(0em / 58)  #EEEEEE,
                calc(7.5em / 58)  calc(6em / 58)  calc(0em / 58)  rgba(0,0,0,0.15);

/*              calc(0em / 43)  calc(6em / 43)  calc(1em / 43)  #CCCCCC;*/
}
/*navbar*/
.navBarLinkColor a:link {color:#8E8E8E;
    text-decoration:none;
}
.navBarLinkColor a:visited  {
    color:#808080;
/*text-decoration:underline;*/
}
.navBarLinkColor a:hover {
  color: #EB5E00;
/*     text-shadow:  calc(3em / 58)  calc(3em / 58)  calc(0em / 58)  #EEEEEE,
                calc(7.5em / 58)  calc(6em / 58)  calc(0em / 58)  rgba(0,0,0,0.15) !important;*/
/*color:#E67E22;*/
text-decoration:none;
/*text-decoration:underline;*/
/*background-color: blue;*/
}
.navBarLinkColor a:active  {
color:black;
/*text-decoration:underline;*/
}


/*
link color*/
 a:link {color:#0000B2;
text-decoration:none;
}
 a:visited  {
color:#0000A8;
/*text-decoration:underline;*/
}
 a:hover {
  color:  #EB5E00;
/*color:  #00CED1;*/
/*text-decoration:underline;*/
/*background-color: blue;*/
}
 a:active  {
color:#0000EE;
/*text-decoration:underline;*/
}


.navBarContainer {
  display: flex;
  height: auto;
  width:100%;
  justify-content: center;
  /*  justify-content: flex-start;*/
  align-items: center;
/*    align-items: flex-start;*/
  flex-flow: row nowrap;
  background-color:rgba(250,250,250,0.99);
      margin: 0px auto;
    padding: 0px;
    border: 0px dashed red;
    cursor: pointer;
    list-style-type: none;
    position:fixed;
    overflow: auto;
    top: 0;
    left: 0;
}

.navBarItem {
  width:auto;
  height:auto;
  padding-top: 0.75em;
  padding-bottom: 0.6em;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  white-space:nowrap;
}




/*homepage*/
.introRowContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}


.introColumnContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}


.introItem {
width:100%;
height:auto;
padding: 0px;
text-align: center;
margin:0px;
}

.introItemN {
width:50%;
height:auto;
padding-right: 0px;
padding-left: 9.5%;
text-align: center;
margin:0px;
}

/*dynamicImage*/

/*homepage*/
.dynamicImageContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}
.dynamicImageItem {
width:auto;
height:auto;
padding: 10px;
text-align: center;
margin:10px;
}


/*cv*/
.cvContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}

.cvItemOne {
width:auto;
height:auto;
padding: 0px;
text-align: left;
margin:0px;
}

.cvItemTwo {
width:auto;
height:auto;
padding: 0px;
text-align: right;
margin-right:0px;
margin-left:auto;
}



  

/*list style for `more' page */       
.listStyle * {margin: 0; padding: 0;}  
           
.listStyle div {  
   margin: 12px;  
 }  
           
.listStyle ul {  
   list-style-type: none;  
   width: auto;  
 }  
           
           
.listStyle li img {  
   float: left;  
   margin: 0 12px 0 0;  
   width: 24%;
 }  
           

           
.listStyle li {  
   padding: 0.66em;  
   overflow: auto;  
   border-top-style: none;
  border-right-style: none;
  border-bottom: 0.125em solid;
  border-left-style: none;
   border-color: #CCCCCC;
 }  

 .listStyle li {  
  padding-top: 0.5em;
  padding-bottom: 0.2em;
   margin-top: 0.79em;  
margin-bottom: 2.1em;
 }  
  

.listStyle li:hover {  
   background: #EEEEEE;  
   cursor: pointer;  
 } 


 .imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}



  .circledBorder {
/*    width:50%; */
/*        height:50%; */
        border-radius:50%; 
        overflow:hidden;
    }
/*    .mycircle > img{
        width: 100%;
        height: 100%;
    }*/


.myHr {
    border: 0;
/*    height: 2.85px;*/
    height: 0.17em;
    pardding: 0;
    margin: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.045), rgba(0, 0, 0, 0.072), rgba(0, 0, 0, 0.045));
}

.myHrTwo {
    border: 0;
/*    height: 2.85px;*/
    height: 0.09em;
/*    pardding: 0;
    margin: 0;*/
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.15));
}


.myTextShadowtwo {
/*color: #555555;*/
/*background: #FFFFFF;*/
text-shadow:  1px 0px 1px #CCCCCC, 
              0px 1px 1px #EEEEEE, 
              2px 1px 1px #CCCCCC, 
              1px 2px 1px #EEEEEE, 
              3px 2px 1px #CCCCCC, 
              2px 3px 1px #EEEEEE,
              4px 3px 1px #CCCCCC, 
              3px 4px 1px #EEEEEE, 
              5px 4px 1px #CCCCCC, 
              4px 5px 1px #EEEEEE, 
              6px 5px 1px #CCCCCC, 
              5px 6px 1px #EEEEEE,
              7px 6px 1px #CCCCCC, 
              6px 7px 1px #EEEEEE; 
}


.myTextShadow {
/*color: #555555;*/
/*background: #FFFFFF;*/
text-shadow:  calc(1em / 43)  calc(0em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(0em / 43)  calc(1em / 43)  calc(1em / 43)  #EEEEEE, 
              calc(2em / 43)  calc(1em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(1em / 43)  calc(2em / 43)  calc(1em / 43)  #EEEEEE,
              calc(3em / 43)  calc(2em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(2em / 43)  calc(3em / 43)  calc(1em / 43)  #EEEEEE, 
              calc(4em / 43)  calc(3em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(3em / 43)  calc(4em / 43)  calc(1em / 43)  #EEEEEE,
              calc(5em / 43)  calc(4em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(4em / 43)  calc(5em / 43)  calc(1em / 43)  #EEEEEE, 
              calc(6em / 43)  calc(5em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(5em / 43)  calc(6em / 43)  calc(1em / 43)  #EEEEEE,
              calc(7em / 43)  calc(6em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(6em / 43)  calc(7em / 43)  calc(1em / 43)  #EEEEEE, 
              calc(8em / 43)  calc(7em / 43)  calc(1em / 43)  #CCCCCC, 
              calc(7em / 43)  calc(8em / 43)  calc(1em / 43)  #EEEEEE;
/*              2px 1px 1px #CCCCCC, 
              1px 2px 1px #EEEEEE, 
              3px 2px 1px #CCCCCC, 
              2px 3px 1px #EEEEEE,
              4px 3px 1px #CCCCCC, 
              3px 4px 1px #EEEEEE, 
              5px 4px 1px #CCCCCC, 
              4px 5px 1px #EEEEEE, 
              6px 5px 1px #CCCCCC, 
              5px 6px 1px #EEEEEE,
              7px 6px 1px #CCCCCC, 
              6px 7px 1px #EEEEEE; */
}





.myTextBlink {
    animation: myBlink 1.7s ease infinite;
    -webkit-animation: myBlink 1.7s ease infinite;

}

@keyframes myBlink {
    0% {
        color: rgba(0,0,0,0.9);
    }

    25% {
        color: rgba(0,0,0,0.8);
    }

    50% {
        color: rgba(0,0,0,0.1);
    }

    75% {
        color: rgba(0,0,0,0.8);
    }

    100% {
        color: rgba(0,0,0,0.9);
    }
}