section { 
  display: block;
}


body, footer { margin: 0px;
    padding: 0px;
/*    background-color: #FFFAF0;*/
    word-break: keep-all;
    word-wrap: break-word;}

/*div, footer, h1, h2, h3, p, img, span{max-height: 100%;text-size-adjust:none;-webkit-text-size-adjust:none;}*/
* {max-height: 100%;text-size-adjust:none;-webkit-text-size-adjust:none;}



.activeLinkColor {
  color: #111111 !important;
}
/*navbar*/
.navBarLinkColor a:link {color:#8E8E8E;
text-decoration:none;
}
.navBarLinkColor a:visited  {
color:#808080;
/*text-decoration:underline;*/
}
.navBarLinkColor a:hover {
color:#E67E22;
text-decoration:none;
/*text-decoration:underline;*/
/*background-color: blue;*/
}
.navBarLinkColor a:active  {
color:black;
/*text-decoration:underline;*/
}



.navBarContainer {
  display: flex;
  height: auto;
  width:100%;
  justify-content: center;
  /*  justify-content: flex-start;*/
  align-items: center;
/*    align-items: flex-start;*/
  flex-flow: row nowrap;
  background-color:rgba(250,250,250,0.99);
      margin: 0px auto;
    padding: 0px;
    border: 0px dashed red;
    cursor: pointer;
    list-style-type: none;
    position:fixed;
    overflow: auto;
    top: 0;
    left: 0;
}

.navBarItem {
  width:auto;
  height:auto;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  white-space:nowrap;
}

/*
link color*/
 a:link {color:#0000BB;
text-decoration:none;
}
 a:visited  {
color:#0000A9;
/*text-decoration:underline;*/
}
 a:hover {
color:  #00CED1;
text-decoration:underline;
/*background-color: blue;*/
}
 a:active  {
color:#0000EE;
/*text-decoration:underline;*/
}



/*homepage*/
.introRowContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}


.introColumnContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}


.introItem {
width:100%;
height:auto;
padding: 0px;
text-align: center;
margin:0px;
}

.introItemN {
width:50%;
height:auto;
padding-right: 0px;
padding-left: 9.5%;
text-align: center;
margin:0px;
}

/*dynamicImage*/

/*homepage*/
.dynamicImageContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}
.dynamicImageItem {
width:auto;
height:auto;
padding: 10px;
text-align: center;
margin:10px;
}


/*cv*/
.cvContainer {
  display: flex;
  height: auto;
  width:auto;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
      margin: 0px;
    padding: 0px;
    border: 0px dashed red;
}

.cvItemOne {
width:auto;
height:auto;
padding: 0px;
text-align: left;
margin:0px;
}

.cvItemTwo {
width:auto;
height:auto;
padding: 0px;
text-align: right;
margin-right:0px;
margin-left:auto;
}



  

/*list style for `more' page */       
.listStyle * {margin: 0; padding: 0;}  
           
.listStyle div {  
   margin: 20px;  
 }  
           
.listStyle ul {  
   list-style-type: none;  
   width: auto;  
 }  
           
           
.listStyle li img {  
   float: left;  
   margin: 0 15px 0 0;  
   width: 18.8%;
 }  
           

           
.listStyle li {  
   padding: 20px;  
   overflow: auto;  
   border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
   border-color: #ccc;
 }  
           
.listStyle li:hover {  
   background: #eee;  
   cursor: pointer;  
 } 

 .imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}



  .circledBorder {
/*    width:50%; */
/*        height:50%; */
        border-radius:50%; 
        overflow:hidden;
    }
/*    .mycircle > img{
        width: 100%;
        height: 100%;
    }*/


.myHr {
    border: 0;
    height: 2.85px;
    pardding: 0;
    margin: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05));
}


.myTextShadow {
/*color: #555555;*/
/*background: #FFFFFF;*/
text-shadow:  1px 0px 1px #CCCCCC, 
              0px 1px 1px #EEEEEE, 
              2px 1px 1px #CCCCCC, 
              1px 2px 1px #EEEEEE, 
              3px 2px 1px #CCCCCC, 
              2px 3px 1px #EEEEEE,
              4px 3px 1px #CCCCCC, 
              3px 4px 1px #EEEEEE, 
              5px 4px 1px #CCCCCC, 
              4px 5px 1px #EEEEEE, 
              6px 5px 1px #CCCCCC, 
              5px 6px 1px #EEEEEE,
              7px 6px 1px #CCCCCC, 
              6px 7px 1px #EEEEEE; 
}